<!--
<div>
<ul class="flights">
  <li *ngFor="let flight of flights">
    <a>
      <span class="badge">{{flight.id}}</span> {{flight.airlineName}}
    </a>
  </li>
</ul>
</div>
-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 flight-table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <ng-container matColumnDef="airlineName">
    <th mat-header-cell *matHeaderCellDef> Airline </th>
    <td mat-cell *matCellDef="let element"> {{element.airlineName}} </td>
  </ng-container>

  
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let element"> {{element.start}} </td>
  </ng-container>

  
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
